@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color: #222;
  --dark-color: #545454;
  --border-radius: 5px;
  --dark-grey: #8c8c8c;
  --light-grey: #d9d9d9;
  --active: #4dffa6;
  --attack: #ff4d4d;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.heading {
  margin: 40px 0 0 0;
  font-size: 1.4rem;
}

.btn {
  background-color: var(--dark-grey);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  margin: 35px;
  padding: 10px 30px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  background-color: var(--dark-color);
}

.container {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--dark-color);
  border-radius: var(--border-radius);
  width: 100px;
  height: 648px;
  /*visibility: hidden;*/
}

.counter {
  font-size: 1rem;
}

.game {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 4px solid var(--dark-color);
  border-radius: var(--border-radius);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 648px;
  height: 648px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 1 / 4 / 2 / 5;
}
.div5 {
  grid-area: 1 / 5 / 2 / 6;
}
.div6 {
  grid-area: 1 / 6 / 2 / 7;
}
.div7 {
  grid-area: 1 / 7 / 2 / 8;
}
.div8 {
  grid-area: 1 / 8 / 2 / 9;
}
.div9 {
  grid-area: 2 / 1 / 3 / 2;
}
.div10 {
  grid-area: 2 / 2 / 3 / 3;
}
.div11 {
  grid-area: 2 / 3 / 3 / 4;
}
.div12 {
  grid-area: 2 / 4 / 3 / 5;
}
.div13 {
  grid-area: 2 / 5 / 3 / 6;
}
.div14 {
  grid-area: 2 / 6 / 3 / 7;
}
.div15 {
  grid-area: 2 / 7 / 3 / 8;
}
.div16 {
  grid-area: 2 / 8 / 3 / 9;
}
.div17 {
  grid-area: 3 / 1 / 4 / 2;
}
.div18 {
  grid-area: 3 / 2 / 4 / 3;
}
.div19 {
  grid-area: 3 / 3 / 4 / 4;
}
.div20 {
  grid-area: 3 / 4 / 4 / 5;
}
.div21 {
  grid-area: 3 / 5 / 4 / 6;
}
.div22 {
  grid-area: 3 / 6 / 4 / 7;
}
.div23 {
  grid-area: 3 / 7 / 4 / 8;
}
.div24 {
  grid-area: 3 / 8 / 4 / 9;
}
.div25 {
  grid-area: 4 / 1 / 5 / 2;
}
.div26 {
  grid-area: 4 / 2 / 5 / 3;
}
.div27 {
  grid-area: 4 / 3 / 5 / 4;
}
.div28 {
  grid-area: 4 / 4 / 5 / 5;
}
.div29 {
  grid-area: 4 / 5 / 5 / 6;
}
.div30 {
  grid-area: 4 / 6 / 5 / 7;
}
.div31 {
  grid-area: 4 / 7 / 5 / 8;
}
.div32 {
  grid-area: 4 / 8 / 5 / 9;
}
.div33 {
  grid-area: 5 / 1 / 6 / 2;
}
.div34 {
  grid-area: 5 / 2 / 6 / 3;
}
.div35 {
  grid-area: 5 / 3 / 6 / 4;
}
.div36 {
  grid-area: 5 / 4 / 6 / 5;
}
.div37 {
  grid-area: 5 / 5 / 6 / 6;
}
.div38 {
  grid-area: 5 / 6 / 6 / 7;
}
.div39 {
  grid-area: 5 / 7 / 6 / 8;
}
.div40 {
  grid-area: 5 / 8 / 6 / 9;
}
.div41 {
  grid-area: 6 / 1 / 7 / 2;
}
.div42 {
  grid-area: 6 / 2 / 7 / 3;
}
.div43 {
  grid-area: 6 / 3 / 7 / 4;
}
.div44 {
  grid-area: 6 / 4 / 7 / 5;
}
.div45 {
  grid-area: 6 / 5 / 7 / 6;
}
.div46 {
  grid-area: 6 / 6 / 7 / 7;
}
.div47 {
  grid-area: 6 / 7 / 7 / 8;
}
.div48 {
  grid-area: 6 / 8 / 7 / 9;
}
.div49 {
  grid-area: 7 / 1 / 8 / 2;
}
.div50 {
  grid-area: 7 / 2 / 8 / 3;
}
.div51 {
  grid-area: 7 / 3 / 8 / 4;
}
.div52 {
  grid-area: 7 / 4 / 8 / 5;
}
.div53 {
  grid-area: 7 / 5 / 8 / 6;
}
.div54 {
  grid-area: 7 / 6 / 8 / 7;
}
.div55 {
  grid-area: 7 / 7 / 8 / 8;
}
.div56 {
  grid-area: 7 / 8 / 8 / 9;
}
.div57 {
  grid-area: 8 / 1 / 9 / 2;
}
.div58 {
  grid-area: 8 / 2 / 9 / 3;
}
.div59 {
  grid-area: 8 / 3 / 9 / 4;
}
.div60 {
  grid-area: 8 / 4 / 9 / 5;
}
.div61 {
  grid-area: 8 / 5 / 9 / 6;
}
.div62 {
  grid-area: 8 / 6 / 9 / 7;
}
.div63 {
  grid-area: 8 / 7 / 9 / 8;
}
.div64 {
  grid-area: 8 / 8 / 9 / 9;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: var(--dark-color);
  height: 80px;
  line-height: 75px;
  width: 80px;
  position: relative;
}

.dark {
  background-color: var(--dark-grey);
}

.light {
  background-color: var(--light-grey);
}

.figure {
  cursor: pointer;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
}

.green-dot {
  border-radius: 15px;
  background-color: var(--active);
  height: 30px;
  left: 25px;
  position: absolute;
  width: 30px;
  top: 25px;
}

.green-border {
  border: 3px solid var(--active);
  border-radius: 10px;
  height: 70px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 70px;
  cursor: pointer;
}

.green-underline {
  background: var(--active);
  height: 3px;
  left: 20px;
  position: absolute;
  top: 65px;
  width: 40px;
}

.red-border {
  border: 3px solid var(--attack);
  border-radius: 10px;
  height: 70px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 70px;
}

@media screen and (max-height: 900px) {
  body {
    font-size: 1.6rem;
  }

  .heading {
    margin: 25px 0 0 0;
  }

  .btn {
    margin: 25px;
  }

  .sidebar {
    height: 580px;
  }

  .game {
    width: 580px;
    height: 580px;
  }

  .cell {
    height: 71.5px;
    width: 71.5px;
    line-height: 67.5px;
  }

  .figure {
    padding-bottom: 4px;
  }

  .green-dot {
    border-radius: 13.5px;
    height: 27px;
    left: 22.5px;
    width: 27px;
    top: 22.5px;
  }

  .green-border {
    border-radius: 10px;
    height: 63px;
    left: 4.5px;
    top: 4.5px;
    width: 63px;
  }

  .green-underline {
    height: 3px;
    left: 18px;
    top: 63px;
    width: 36px;
  }

  .red-border {
    border: 3px solid var(--attack);
    border-radius: 10px;
    height: 63px;
    left: 4.5px;
    position: absolute;
    top: 4.5px;
    width: 63px;
  }
}

/*--------Add media query for max-width----------*/
